html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-cut-text {
  text-overflow: clip;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.social-inputs label {
  font-style: italic;
  font-size: 11px;
  margin-bottom: 3px;
}
